/* original text */
.og {
    border-radius: 5px;
}

/* translated text */
.tl {
    display: none; /* its hidden by default */
    position:absolute;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    z-index: 1;
    color: black;
    background: #f7e5a4;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    padding: 4px;
    border-radius: 5px;
}

/* format the background of the original text */
/* this class is the comtainer for the og and tl classes */
.tlt {
    color: black;
    background: #f7e5a4;
    height: 14pt;
    border-radius: 5px;;
    padding: 4px;
}