.ka {
    border-radius: 5px;
}

.en {
    display: none;
    position:absolute;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    z-index: 1;
    color: black;
    background: #f7e5a4;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    padding: 4px;
    border-radius: 5px;
}

.tlt {
    color: black;
    background: #f7e5a4;
    height: 14pt;
    border-radius: 5px;;
    padding: 4px;
}