body {
    background-color: #0d3b66;
    width: 95vw;
    max-width: 900px;
    margin: auto;
}

h1 {
    margin: 30px 0;
    color: #f4d35e;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #f4d35e;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #faf0ca;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    color: #f4d35e;
    text-decoration: bold;
}

footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5vw;
}

header {
    position: relative;
}

.dropbtn {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background: #f4d35e;
    margin: 6px 0;
    border-radius: 5px;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown {
    position: absolute;
    top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d3b66;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #f4d35e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0d3b70;
}
.show {
    display: block;
}

/* translateable */
.tlable {
    color: black;
    background: #f7e5a4;
    padding: 4px;
    border-radius: 5px;
}

/* translation */
.tlation {
    display: none;
    position:absolute;
    transform: translateY(90%);
    z-index: 1;
    color: black;
    background: #f7e5a4;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    padding: 4px;
    border-radius: 5px;
}

.lessonnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nextlesson {
    padding-top: 50px;
}

.prevlesson {
    padding-top: 50px;
}

.ksentence {
    background: #f7e5a4;
    height: 14pt;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;;
}